header.page-header
	nav.main-nav
		ul.main-nav__list
			li.main-nav__item.main-nav__item--menu
				a.main-nav__link.main-nav__toggle
				a.main-nav__link.main-nav__menu Menu
			li.main-nav__item.main-nav__item--icon
				a.main-nav__link.main-nav__item--globe
				a.main-nav__link.main-nav__item--basket
				a.main-nav__link.main-nav__item--user