header.page-header
	nav.main-nav
		button.main-nav__toggle(tupe="button")
		a.main-nav__menu Menu
		ul.main-nav__list
			li.main-nav__item
				a.main-nav__item--globe
			li.main-nav__item
				a.main-nav__item--basket
			li.main-nav__item
				a.main-nav__item--user