.page-footer{
	background-color: #2d2d2d;
	padding-top: 10px;
}
.page-footer__wrapper{
	display: flex;
	flex-direction: column;
	width: auto;
}
.page-footer__contacts{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}
.contacts__list{
	list-style: none;
}
.contacts__item{
	color: #ffffff;
}